<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">
	
	<insert id="insert" parameterType="BookVO">
		
		INSERT INTO BOOKS(TITLE, PUBLISHER, PRICE, YEAR) VALUES(#{bookTitle}, #{bookPublisher}, #{bookPrice}, #{bookYear})
		
	</insert>
	
	<select id="selectOne" parameterType="Integer" resultMap="dataObject">
		
		SELECT BOOK_NUM, TITLE, PUBLISHER, PRICE, YEAR FROM BOOKS WHERE BOOK_NUM = #{bookNum}
		
	</select>
	
	<select id="selectAll" resultMap="dataObject">
		
		SELECT BOOK_NUM, TITLE, PUBLISHER, PRICE, YEAR FROM BOOKS
		
	</select>
	
	<resultMap type="BookVO" id="dataObject">
		
		<result column="BOOK_NUM" property="bookNum"/>
		
		<result column="TITLE" property="bookTitle"/>
		
		<result column="PUBLISHER" property="bookPublisher"/>
		
		<result column="PRICE" property="bookPrice"/>
		
		<result column="YEAR" property="bookYear"/>
		
	</resultMap>
	
</mapper>